.AssetRow {
  border-top: 1px solid var(--siteSecondaryColor);
  padding: 10px;
  display: flex;
  align-items: center;
}

.AssetRow-meta {
  flex: 0 1 auto;
  float: left;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AssetRow-logo {
  width: 36px;
  height: 36px;
  margin-left: 5px;
}

.AssetRow-label {
  flex: 0 1 auto;
  width: 80px;
  flex-direction: column;
  align-items: flex-start;
}

.AssetRow-symbol {
  margin: 4px 0;
}

.AssetRow-name {
  color: #4E5C6E;
  font-size: 10px;
}

.AssetRow-price {
  width: 200px;
  justify-content: flex-end;
}

.AssetRow-tab-portfolio .AssetRow-price {
  width: 120px;
}

.AssetRow-rank {
  width: 30px;
  font-weight: 500;
  margin-left: 0;
  color: var(--siteSecondaryColor);
}

.AssetRow-quantity {
  text-align: center;
  width: 80px;
}

.AssetRow-quantity input {
  height: 80%;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--siteSecondaryColor);
  text-align: center;
  padding: 2px;
}

.AssetRow-quantity-null {
  color: var(--siteSecondaryColor);
}

.AssetRow-value {
  text-align: center;
  width: 90px;
}

.AssetRow-marketcap {
  width: 100px;
  justify-content: flex-end;
}

.AssetRow-change {
  flex: 0 1 auto;
  width: 60px;
  flex-direction: column;
  align-items: flex-start;
  color: var(--siteSecondaryTextColor)
}

.AssetRow-change-percent {
  margin: 4px 0
}

.AssetRow-change-percent span {
  position: relative;
  vertical-align: baseline;
  top: -4px;
  font-size: 10px;
}

.AssetRow-change-price {
  font-size: 10px;
  margin-right: 10px;
  text-wrap: none;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 600px) {
  .AssetRow-quantity input {
    font-size: 16px;
    transform: scale(0.75);
  }

  .AssetRow-price {
    width: 90px;
  }

  .AssetRow-calculation {
    font-size: 13px;
    margin-left: 4px;
  }

  .AssetRow-quantity {
    margin-left: 0;
    width: 52px;
  }

  .AssetRow-logo {
    margin-left: 0;
  }

  .AssetRow-label {
    width: 60px;
  }

  .AssetRow {
    font-size: 14px;
  }

  .AssetRow .symbol {
    width: 8px;
  }

  .AssetRow-equals {
    margin-left: 3px;
  }

  .AssetRow * {
    overflow: hidden;
  }

  .AssetRow-change {
    margin-left: 5px;
  }

  .AssetRow-rank {
    margin-left: -10px;
  }
}

@media (max-width: 400px) {
  .AssetRow-price {
    width: 95px;
  }

  .AssetRow-logo {
    width: 20px;
  }

  .AssetRow-tab-portfolio .AssetRow-price {
    width: 80px;
  }
}
