.AssetRow {
  border-top: 1px solid var(--siteSecondaryColor);
  padding: 10px;
  display: flex;
  align-items: center;
}

.AssetRow-meta {
  flex: 0 1 auto;
  float: left;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.AssetRow-logo {
  width: 36px;
  height: 36px;
  margin-left: 5px;
}

.AssetRow-label {
  flex: 0 1 auto;
  width: 90px;
  flex-direction: column;
  align-items: flex-start;
}

.AssetRow-symbol {
  margin: 4px 0;
}

.AssetRow-name {
  color: #4E5C6E;
  font-size: 10px;
}

.AssetRow-price {
  width: 70px;
  justify-content: flex-end;
}

.AssetRow-rank {
  width: 30px;
  font-weight: 500;
  margin-left: 0;
  color: var(--siteSecondaryColor);
}

.AssetRow-quantity {
  text-align: center;
  width: 80px;
}

.AssetRow-quantity input {
  height: 80%;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--siteSecondaryColor);
  text-align: center;
}

.AssetRow-quantity-null {
  color: var(--siteSecondaryColor);
}

.AssetRow-value {
  text-align: center;
  width: 80px;
}

.AssetRow-marketcap {
  width: 180px;
  justify-content: flex-end;
}

.AssetRow-change {
  flex: 0 1 auto;
  width: 100px;
  flex-direction: column;
  align-items: flex-end;
  color: var(--siteSecondaryTextColor)
}

.AssetRow-change-percent {
  margin: 4px 0
}

.AssetRow-change.positive .AssetRow-change-percent {
  color: #57BF00;
}

.AssetRow-change.negative .AssetRow-change-percent {
  color: #FF6600;
}

.AssetRow-change-percent span {
  position: relative;
  vertical-align: baseline;
  top: -4px;
  font-size: 10px;
}

.AssetRow-change-price {
  font-size: 10px;
  margin-right: 10px;
}

@media (max-width: 1120px) {
  .AssetRow-label {
    width: 62px;
  }

  .AssetRow-calculation {
    display: flex;
    flex-direction: column;
    width: 210px;
    justify-content: center;
    margin: 7px 0 0px 20px;
  }

  .AssetRow-quantity {
    margin-top: -6px;
    width: 70px;
  }

  .AssetRow-value {
    align-items: flex-start;
    display: flex;
    font-size: 10px;
    font-weight: 500;
    margin: 8px 0 8px 0;
    color: #4E5C6E;
    width: 100%;
    border-top: 1px solid var(--siteSecondaryColor);
    padding: 10px 0 0 0;
  }

  .AssetRow-change {
    width: 70px;
  }

  .AssetRow .symbol {
    width: 2px;
  }
}
