.BigNumber {
  flex: 1;
  font-size: 48px;
  border-right: 1px solid var(--siteSecondaryColor);
  padding: 25px 0 20px 0;
  color: #4E5C6E;
  text-align: center;
}

.BigNumber.sticky{
  position: sticky;
  top: 20px;
}

.BigNumber:last-of-type {
  border-right: none;
}

.BigNumber-super {
  position: relative;
  top: -13px;
  vertical-align: baseline;
  font-size: 30px;
  font-weight: 500;
}

.BigNumber-label {
  font-size: 14px;
  letter-spacing: 2px;
  color: var(--siteTertiaryTextColor);
  text-transform: uppercase;
  margin: 20px 0 0 0;
}

@media (max-width: 1120px) {
  .BigNumber:not(:first-of-type){
    font-size: 30px;
    padding: 15px 0 10px;
  }

  .BigNumber:not(:first-of-type) .BigNumber-super{
    font-size: 22px;
    top: -6px;
  }

  .BigNumber:first-of-type {
    width: 100%;
    flex: 100%;
    border: 1px var(--siteSecondaryColor);
    margin-bottom: 20px;
    border-style: none none solid none;
    padding: 10px 0 20px 0;
  }

  .BigNumber .BigNumber-label{
    margin-top: 15px;
  }
}
