body {
  margin: 0;
  padding: 0;
  font-family: var(--siteFontFamily);
  background: var(--siteBodyColor);
}

input {
  font-family: var(--siteFontFamily);
  font-size: 100%;
}

a {
  text-decoration: none;
  color: var(--siteColor);
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.symbol {
  font-weight: bold;
  color: var(--siteSecondaryColor);
  width: 20px;
}