.Stock {
  border-top: 1px solid var(--siteSecondaryColor);
  padding: 10px;
  display: flex;
}

.Stock-meta {
  flex: 0 1 auto;
  float: left;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.Stock-logo {
  width: 36px;
  height: 36px;
  margin-left: 5px;
}

.Stock-label {
  flex: 0 1 auto;
  width: 90px;
  flex-direction: column;
  align-items: flex-start;
}

.Stock-symbol {
  margin: 4px 0;
}

.Stock-name {
  color: #4E5C6E;
  font-size: 10px;
}

.Stock-price {
  width: 70px;
  justify-content: flex-end;
}

.Stock-quantity {
  text-align: center;
  width: 60px;
}

.Stock-quantity input {
  height: 80%;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--siteSecondaryColor);
  text-align: center;
}

.Stock-quantity-null {
  color: var(--siteSecondaryColor);
}

.Stock-value {
  text-align: center;
  width: 80px;
}

.Stock-change {
  flex: 0 1 auto;
  width: 100px;
  flex-direction: column;
  align-items: flex-end;
  color: var(--siteSecondaryTextColor)
}

.Stock-change-percent {
  margin: 4px 0
}

.Stock-change.positive .Stock-change-percent {
  color: #57BF00;
}

.Stock-change.negative .Stock-change-percent {
  color: #FF6600;
}

.Stock-change-percent span {
  position: relative;
  vertical-align: baseline;
  top: -4px;
  font-size: 10px;
}

.Stock-change-price {
  font-size: 10px;
  margin-right: 10px;
}